@font-face {
    font-family: AzoSansBlack;
    src: url(../font/AzoSans-Black.ttf);
 }
 @font-face {
    font-family: AzoSansBlackItalic;
    src: url(../font/AzoSans-BlackItalic.ttf);
 }
 @font-face {
    font-family: AzoSansBold;
    src: url(../font/AzoSans-Bold.ttf);
 }
 @font-face {
    font-family: AzoSansBoldItalic;
    src: url(../font/AzoSans-BoldItalic.ttf);
 }
 @font-face {
    font-family: AzoSansItalic;
    src: url(../font/AzoSans-Italic.ttf);
 }
 @font-face {
    font-family: AzoSansLight;
    src: url(../font/AzoSans-Light.ttf);
 }
 @font-face {
    font-family: AzoSansLightItalic;
    src: url(../font/AzoSans-LightItalic.ttf);
 }
 @font-face {
    font-family: AzoSansMedium;
    src: url(../font/AzoSans-Medium.ttf);
 }
 @font-face {
    font-family: AzoSansMediumItalic;
    src: url(../font/AzoSans-MediumItalic.ttf);
 }
 @font-face {
    font-family: AzoSansRegular;
    src: url(../font/AzoSans-Regular.ttf);
 }
 @font-face {
    font-family: AzoSansThin;
    src: url(../font/AzoSans-Thin.ttf);
 }
 @font-face {
    font-family: AzoSansThinItalic;
    src: url(../font/AzoSans-ThinItalic.ttf);
 }